<div id="root">
    <div id="top-bar"></div>
    <div id="container"></div>
    <div id="bottom-bar">
        <p style="margin-left: 3em;margin-top: 1.5em;font-size: large;color: rgba(0,0,0,0.4)">
            powered by ohmywhut credit to saicem
        </p>
    </div>
</div>


<style>
    #root {
        padding: 0.5em;
        font-size: x-large;
        margin: 0;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #top-bar {
        margin-top: 2em;
        padding: 0 3em;
    }

    #top-bar p {
        text-align: right;
    }

    #container {
        display: grid;
        grid-template-rows: repeat(14, 2fr);
        grid-template-columns: repeat(7, 1fr);
        flex: 1;
    }

    .week {
        align-items: center;
        padding: 1em;
        text-align: center;
    }

    .course {
        height: 100%;
        border-radius: 10px;
        margin: 0.2em;
        padding: 0.3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
</style>

<script>
    /**
     * 检查课表是否属于满课，用于找出本来是三节的大课只有两节的情况
     * @param {number} startSection
     * @param {number} endSection
     * @returns {boolean}
     */
    function checkIsFull(startSection, endSection) {
        if (startSection === 1 || startSection === 9) {
            return true;
        }
        return !![5, 10, 13].find(x => x === endSection);
    }

    /**
     * 获取日期
     * @param {Date} termStartDate 开学日期
     * @param {number} week
     * @returns {string[]}
     */
    function getDates(termStartDate, week) {
        termStartDate.setDate(termStartDate.getDate() + (week - 1) * 7)
        const dates = []
        for (let i = 0; i < 7; i++) {
            dates.push(`${termStartDate.getMonth()}-${termStartDate.getDate()}`)
            termStartDate.setDate(termStartDate.getDate() + 1)
        }
        return dates
    }

    /**
     * @typedef {{name: string, startWeek: number, endWeek:number, startSection: number, endSection: number, teacher: string, room: string, dayOfWeek: number}} Course
     */

    /**
     * @param {{termStartDate: string, week: number, courses: Array.<Course>}} data
     */
    function render(data) {
        const topBar = document.getElementById('top-bar')
        const container = document.getElementById('container')
        const bottomBar = document.getElementById('bottom-bar')

        const dates = getDates(new Date(data.termStartDate), data.week)
        const dayOfWeeks = ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
        const weekName = [
            "第零周",
            "第一周",
            "第二周",
            "第三周",
            "第四周",
            "第五周",
            "第六周",
            "第七周",
            "第八周",
            "第九周",
            "第十周",
            "第十一周",
            "第十二周",
            "第十三周",
            "第十四周",
            "第十五周",
            "第十六周",
            "第十七周",
            "第十八周",
            "第十九周",
            "第二十周",
        ]
        const colors = [
            "(255, 168, 64, 255)",
            "(57, 211, 169, 255)",
            "(254, 134, 147, 255)",
            "(111, 137, 226, 255)",
            "(239, 130, 109, 255)",
            "(99, 186, 255, 255)",
            "(254, 212, 64, 255)",
            "(184, 150, 230, 255)",
            "(169, 213, 59, 255)",
        ]

        topBar.appendChild((function () {
            const weekTitle = document.createElement('p')
            weekTitle.innerText = weekName[data.week]
            return weekTitle
        })())

        for (let i = 0; i < 7; i++) {
            const div = document.createElement('div')
            div.className = "week"
            div.style.gridColumnStart = (i + 1).toString()

            const pDayOfWeek = document.createElement('span')
            pDayOfWeek.innerText = dayOfWeeks[i]
            div.appendChild(pDayOfWeek)

            div.appendChild(document.createElement('br'))

            const pDate = document.createElement('span')
            pDate.innerText = dates[i]
            div.appendChild(pDate)
            container.appendChild(div)
        }

        const courses = data.courses.filter(course => course.startWeek <= data.week && course.endWeek >= data.week)
        for (const course of courses) {
            const div = document.createElement('div')
            div.className = "course"
            div.style.gridColumnStart = (course.dayOfWeek === 0 ? 7 : course.dayOfWeek).toString()
            div.style.gridRowStart = (course.startSection + 1).toString()
            div.style.gridRowEnd = (course.endSection + 2).toString()
            div.style.backgroundColor = `rgba${colors[course.dayOfWeek]}`

            const pName = document.createElement('p')
            pName.innerText = `${course.name} ${course.teacher}`
            div.appendChild(pName)

            const pRoom = document.createElement('p')
            pRoom.innerText = course.room
            div.appendChild(pRoom)

            if (!checkIsFull(course.startSection, course.endSection)) {
                div.style.height = "108%"
            }

            container.appendChild(div)
        }
    }
</script>